.app {
  text-align: center;
}

.container {
  box-shadow: black 1px 1px 15px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.react-logo {
  height: 10vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {
  padding: 10px;
  min-width: 300px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.button {
  background-color: #282c34;
  color: #61dafb;
  text-decoration: none;
  border: solid 1px #61dafb;
  padding: 13px;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #24262b;
}
